body {
	background-image: url(/images/Login\ page.jpg);
}
.main {
	display: flex;
	justify-content: center;
	align-items: center;
}
.login {
	width: 30%;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.login > form {
	border: 1px solid gainsboro;
	border-radius: 12px;
	padding: 15px;
}
.login > form > div:last-child {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.login > form > div:last-child > button {
	background: #64b5ff;
	border-radius: 13px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	color: #ffffff;
}
#landingpage > nav {
    opacity: 0.9;
}
#landingpage > nav > div > form > button > i {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
}

#restaurants{
    margin: 0px auto;
    width: 80%;
    height: 100vh;
}
#restaurants .card{
    border: none;
    width: unset;
	background: #fde888;
}
#restaurants > div:last-child{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
#restaurants > div:last-child > div{
    height: auto;
}
#restaurants > div:last-child > div > div {
    width: 350px;
    height: auto;
    background: #FDD940;
    border: 1px solid gainsboro;
    border-radius: 12px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    padding: 15px;
    margin-bottom: 20px;
}
#cartButton{
	width: 40%;
    display: flex;
    justify-content: space-around;
	align-items: center;
}
#navbarSupportedContent form{
	width: 20%;
}


/* CART CSS */
.product-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 3px;
}
.cart-header{
	display: flex;
	width: 100%;
}
.product{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	border-bottom: 5px solid gainsboro;
}
.product-title{
	width: 30%;
}
.product-title img{
	width: 150px;
	height: 150px;
}
.price{
	width: 20%;
}
.quantity{
	width: 20%;
}
.total{
	width: 30%;
}
.basketTotalContainer{
	display: flex;
	justify-content: flex-end;
}
.basketTotalTitle{
	width: 20%;
}
.basketTotal{
	width: 30%;
}