* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.2rem;
	background-color: hsl(235, 21%, 11%);
}

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 350px;
	z-index: -1;
}

.background-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
}

.main {
	margin-top: 5rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	color: white;
	font-weight: bold;
	letter-spacing: 0.2em;
	font-size: 2em;
}

.new-todo {
	background-color: hsl(235, 24%, 19%);
	height: 70px;
	border-radius: 6px;
	margin-top: 3.5rem;
	display: flex;
}

.check {
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.check-mark {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid hsl(233, 14%, 26%);
	transition: all 0.25s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.check-mark:hover {
	background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}

.todo-input {
	/* Flex grow stretches the element as much as it can */
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.todo-input input {
	width: 100%;
}

.todo-input form {
	flex-grow: 1;
}

.todo-input input {
	width: 100%;
	padding: 0.625rem 0px;
	background-color: transparent;
	border: none;
	outline: none;
	color: hsl(234, 39%, 85%);
	font-size: 1.1em;
}

.todo-input input::placeholder {
	color: hsl(233, 14%, 35%);
}

.todo-text {
	display: flex;
	align-items: center;
}

.todo-item {
	width: 100%;
	display: flex;
	height: 70px;
	background-color: hsl(235, 24%, 19%);
	border-bottom: 1px solid hsl(237, 14%, 26%);
	font-size: 1.1em;
	color: white;
	transition: all 0.25s ease;
	display: flex;
	cursor: pointer;
}

.todo-item:hover {
	transform: translateY(-2px);
	box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
	border-color: hsl(235, 24%, 19%);
	z-index: 10;
}

.todo-items-wrapper {
	margin-top: 30px;
	background-color: hsl(235, 24%, 19%);
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.4);
}

.todo-items-info {
	height: 70px;
	width: 100%;
	color: hsl(233, 14%, 35%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	font-size: 0.85em;
}

.items-statuses {
	display: flex;
	justify-content: center;
}

.items-statuses span {
	padding: 0 5px;
	cursor: pointer;
}

.items-statuses span:hover,
.items-statuses span.active,
.items-clear:hover {
	color: hsl(220, 98%, 61%);
}

.items-clear {
	cursor: pointer;
	text-align: end;
}
